.info {
  display: flex;
  width: 20px;
  height: 20px;
  fill: var(--white);
  transition: 0.2s all linear;
  cursor: pointer;
}
.info:hover,
.info:focus {
  transition: 0.2s all linear;
  width: 20px;
  height: 20px;
  fill: var(--green);
}
@media screen and (min-width: 768px) {
  .info {
    /* display: flex; */
    width: 24px;
    height: 24px;
    /* fill: var(--white);
    transition: 0.2s all linear;
    cursor: pointer; */
  }
  .info:hover,
  .info:focus {
    /* transition: 0.2s all linear; */
    width: 24px;
    height: 24px;
    /* fill: var(--green); */
  }
}
.icon {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
/* .arrow {
  display: flex;
  stroke: var(--white);
  transition: 0.2s all linear;
  cursor: pointer;
} */
/* .arrow:hover,
.arrow:focus {
  transition: 0.2s all linear;
  stroke: var(--green);
} */
